<div class="blog-author">

    <div class="author-img">
        <a href="#"><img src="<%- url_for('image/qrcode.jpg') %>" alt=""></a>
    </div>

    <div class="author-desc">
        <h1><%= config.author %></h1>
        <p><%= config.subtitle %></p>
    </div>
</div>
