<div id="wklm-wrap"></div>
<script type="text/javascript">
    function wklmRender(data) { 
        document.getElementById("wklm-wrap").innerHTML=data.html;
    }
</script>
<script src="https://wenku.baidu.com/ndAlliance/api/toc?fr=wklm_08359e4cc850ad02de80419f_200001038&callback=wklmRender" type="text/javascript"></script>